body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

footer {
    background-color: rgb(79, 174, 197);
    color: #fff;
    
    text-align: center;
}
/*
.container {
    margin: 0 auto;
    padding: 0 20px;   
}
*/

.footer-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.footer-item a {
    color: #fff;
    text-decoration: none;
}

.footer-item{
    align-items: baseline;
}

span{
    padding-right: 5px;
}

