body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#conteiner-1{
    padding: 45px 0;

    background-image: url('../images/index-welcome2.jpg'); /* Caminho para sua imagem de fundo */
    background-size: cover; /* Ajuste da imagem de fundo */
    background-position: center; /* Posição da imagem de fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */   
    

}

#text-1{
    width: 40%;
    text-align: center;
    flex: 1;
    margin: auto;
    padding: 5px;
    color: rgb(85, 85, 85);
    background-color: rgba(255, 255, 255, 0.8); 
}

h2{
    font-size: 20px;
}
p{
    font-size: 15px;
}


#conteiner-2{
    background-color: whitesmoke;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    
}

.item{
    background-color: white;
    
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20px;
    text-align: center;

    max-width: 200px;
    min-width: 120px;

    border: 2px solid rgb(209, 208, 208);
}

.head h2{
    font-size: 15px;
    box-sizing: border-box;
}

#conteiner-2 img{
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
}

#conteiner-2 p{
    margin: 10px 10px;
    padding: 10px;
    color: rgb(99, 98, 98);
}

.head{
    margin: 0;
    padding: 15px;
    color: white;
    background-color: #0056b3;
    
}

iframe.footer{
    padding: 0;
    margin: 0;
    background-color:  #0056b3;
    overflow: hidden;
}