body {
    font-family: Arial, sans-serif;
    background-color: #f0f7ff;
    overflow: hidden;
}

h1 {
    color: #007bff;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
