/* Estilos gerais */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.usuario-container {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100vh;

    overflow-y: hidden;
    display: flex;
}

/* Estilos para o menu lateral */
#menu {
    width: 300px;
    background-color: #0056b3;
    color: white;
    transition: width 0.3s;

    display: flex;
    flex-direction: column;
}

#menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s;
}

#menu-itens {
    flex: 1;
}

#menu-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
}

#menu a:hover {
    background-color: #0765ba;
}

/* Estilos para o conteúdo principal */
.conteudo-container {
    padding: 15px;
    overflow-y: auto;
    flex: 1;
}

/* Estilos para o ícone de sanduíche */
.sanduiche {
    display: none;
}

.div-desligar {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
    border-radius: 5px;
    width: 40%;
    margin: 15px auto;
    background-color: #3d9ded;
    border: 1px solid #3d9ded;
    transition: border-color 0.5s;
}

.div-desligar:hover {
    cursor: pointer;
    border-color: white;
}

.div-desligar i {
    margin-right: 10px;
}

.perfil {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid white;
}

.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.dados-usuario {
    display: flex;
    flex-direction: column;
}

.nome-usuario {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.tipo-usuario {
    font-size: 14px;
    color: white;
    margin-top: 5px;
}

.iframe-component.visible{
    display: block;
}

.iframe-component{
    display: none;
}


/* Estilos responsivos */
@media screen and (max-width: 768px) {
    #menu {
        width: 60px;
    }

    #menu a {
        padding: 10px;
        text-align: start;
    }


    .sanduiche {
        display: flex;
        justify-content: end;
        padding: 10px;
        cursor: pointer;
    }

    #menu-content {
        display: none;
    }

    #menu.expandido {
        width: 300px;
    }

    #menu-content.expandido {
        display: flex;
        flex-direction: column;
    }
}