<!-- navbar.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Table</title>
    <link rel="stylesheet" href="../css/table.css">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CEP</th>
                <th>Tipo de Logradouro</th>
                <th>Logradouro</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>João Silva</td>
                <td>12345-678</td>
                <td>Rua</td>
                <td>Avenida Principal</td>
                <td>Centro</td>
                <td>São Paulo</td>
                <td>SP</td>
            </tr>
            <tr>
                <td>Maria Oliveira</td>
                <td>54321-876</td>
                <td>Avenida</td>
                <td>Rua das Flores</td>
                <td>Jardim Botânico</td>
                <td>Rio de Janeiro</td>
                <td>RJ</td>
            </tr>
            <tr>
                <td>Carlos Santos</td>
                <td>98765-432</td>
                <td>Praça</td>
                <td>Praça da Independência</td>
                <td>Independência</td>
                <td>Porto Alegre</td>
                <td>RS</td>
            </tr>
            <tr>
                <td>Ana Pereira</td>
                <td>23456-789</td>
                <td>Rua</td>
                <td>Rua das Árvores</td>
                <td>Jardim América</td>
                <td>Belém</td>
                <td>PA</td>
            </tr>
            <tr>
                <td>Paulo Oliveira</td>
                <td>87654-321</td>
                <td>Avenida</td>
                <td>Avenida Central</td>
                <td>Centro</td>
                <td>Brasília</td>
                <td>DF</td>
            </tr>
            <tr>
                <td>Mariana Ferreira</td>
                <td>56789-012</td>
                <td>Rua</td>
                <td>Rua dos Passarinhos</td>
                <td>Vila Aurora</td>
                <td>Curitiba</td>
                <td>PR</td>
            </tr>
            <tr>
                <td>Fernando Souza</td>
                <td>34567-890</td>
                <td>Avenida</td>
                <td>Avenida dos Girassóis</td>
                <td>Jardim das Flores</td>
                <td>Goiânia</td>
                <td>GO</td>
            </tr>
            <tr>
                <td>Juliana Lima</td>
                <td>67890-123</td>
                <td>Rua</td>
                <td>Rua das Palmeiras</td>
                <td>Jardim Botânico</td>
                <td>Florianópolis</td>
                <td>SC</td>
            </tr>
            <tr>
                <td>Ricardo Almeida</td>
                <td>43210-987</td>
                <td>Praça</td>
                <td>Praça dos Ipês</td>
                <td>Centro</td>
                <td>Salvador</td>
                <td>BA</td>
            </tr>
            <tr>
                <td>Silvia Santos</td>
                <td>10987-654</td>
                <td>Rua</td>
                <td>Rua das Margaridas</td>
                <td>Jardim das Flores</td>
                <td>Campinas</td>
                <td>SP</td>
            </tr>
            <tr>
                <td>Roberto Costa</td>
                <td>87654-321</td>
                <td>Avenida</td>
                <td>Avenida Brasil</td>
                <td>Centro</td>
                <td>Manaus</td>
                <td>AM</td>
            </tr>
            <tr>
                <td>Patrícia Oliveira</td>
                <td>54321-098</td>
                <td>Praça</td>
                <td>Praça das Flores</td>
                <td>Jardim Botânico</td>
                <td>Porto Velho</td>
                <td>RO</td>
            </tr>
            <tr>
                <td>Luiz Ferreira</td>
                <td>21098-765</td>
                <td>Rua</td>
                <td>Rua dos Pinheiros</td>
                <td>Vila Aurora</td>
                <td>Recife</td>
                <td>PE</td>
            </tr>
            <tr>
                <td>Camila Lima</td>
                <td>56789-210</td>
                <td>Avenida</td>
                <td>Avenida Central</td>
                <td>Centro</td>
                <td>João Pessoa</td>
                <td>PB</td>
            </tr>
            <tr>
                <td>André Souza</td>
                <td>09876-543</td>
                <td>Rua</td>
                <td>Rua das Violetas</td>
                <td>Jardim das Flores</td>
                <td>Vitória</td>
                <td>ES</td>
            </tr>
            <tr>
                <td>Helena Santos</td>
                <td>76543-210</td>
                <td>Praça</td>
                <td>Praça das Rosas</td>
                <td>Centro</td>
                <td>Natal</td>
                <td>RN</td>
            </tr>
            <tr>
                <td>Rafaela Costa</td>
                <td>10987-654</td>
                <td>Rua</td>
                <td>Rua das Orquídeas</td>
                <td>Jardim das Flores</td>
                <td>Aracaju</td>
                <td>SE</td>
            </tr>
            <tr>
                <td>Daniel Oliveira</td>
                <td>98765-432</td>
                <td>Avenida</td>
                <td>Avenida das Acácias</td>
                <td>Jardim Botânico</td>
                <td>Cuiabá</td>
                <td>MT</td>
            </tr>
            <tr>
                <td>Larissa Almeida</td>
                <td>87654-321</td>
                <td>Rua</td>
                <td>Rua das Azaléias</td>
                <td>Vila Aurora</td>
                <td>João Pessoa</td>
                <td>PB</td>
            </tr>
            <tr>
                <td>Guilherme Lima</td>
                <td>54321-098</td>
                <td>Avenida</td>
                <td>Avenida Central</td>
                <td>Centro</td>
                <td>Goiânia</td>
                <td>GO</td>
            </tr>
            <tr>
                <td>Bruna Silva</td>
                <td>21098-765</td>
                <td>Rua</td>
                <td>Rua das Magnólias</td>
                <td>Jardim das Flores</td>
                <td>Curitiba</td>
                <td>PR</td>
            </tr>
            <tr>
                <td>Lucas Ferreira</td>
                <td>56789-210</td>
                <td>Avenida</td>
                <td>Avenida Principal</td>
                <td>Centro</td>
                <td>Salvador</td>
                <td>BA</td>
            </tr>
            <tr>
                <td>Patrícia Souza</td>
                <td>09876-543</td>
                <td>Rua</td>
                <td>Rua das Margaridas</td>
                <td>Jardim das Flores</td>
                <td>Porto Alegre</td>
                <td>RS</td>
            </tr>
            <tr>
                <td>Felipe Santos</td>
                <td>76543-210</td>
                <td>Avenida</td>
                <td>Avenida dos Ipês</td>
                <td>Centro</td>
                <td>Florianópolis</td>
                <td>SC</td>
            </tr>
            <tr>
                <td>Vanessa Oliveira</td>
                <td>10987-654</td>
                <td>Rua</td>
                <td>Rua dos Jasmim</td>
                <td>Vila Aurora</td>
                <td>Fortaleza</td>
                <td>CE</td>
            </tr>
            <tr>
                <td>Marcelo Almeida</td>
                <td>98765-432</td>
                <td>Praça</td>
                <td>Praça das Flores</td>
                <td>Jardim Botânico</td>
                <td>Brasília</td>
                <td>DF</td>
            </tr>
        </tbody>
    </table>
</body>

</html>