<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- tag de responsividade -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Field</title>
  <link rel="stylesheet" href="../css/general-form-style.css">
  <link rel="stylesheet" href="../css/register-form-style.css">
</head>

<body>
  <div class="container">
    <fieldset id="fieldsetDados">
      <label for="foto_cadastro">Foto de Cadastro:</label>
      <input type="file" accept=".png, .jpg, .jpeg" id="foto_cadastro">

      <label for="name">Nome Completo:</label>
      <input type="text" id="name" name="name">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email">


      <label for="cpf">CPF:</label>
      <input type="text" id="cpf" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="Ex. 000.000.000-00">

      <label for="telefone">Telefone:</label>
      <input type="tel" id="telefone" name="telefone" placeholder="Ex. (00) 00000-0000">

      <label for="dataNasc">Data de Nascimento:</label>
      <input type="date" id="dataNasc" name="dataNasc">

      <p>Gênero:</p>
      <div class="radioOptions">
        <div class="radioItem">
          <input type="radio" id="feminino" name="genero" value="feminino">
          <label for="feminino">Feminino</label>
        </div>
        <div class="radioItem">
          <input type="radio" id="masculino" name="genero" value="masculino">
          <label for="masculino">Masculino</label>
        </div>
        <div class="radioItem">
          <input type="radio" id="sem_resp" name="genero" value="sem_resp">
          <label for="sem_resp">Prefiro não dizer</label>
        </div>
      </div>

      <p>Estado Civil:</p>
      <div class="radioOptions">
        <div class="radioItem">
          <input type="radio" id="solteiro" name="estadoCivil" value="solteiro">
          <label for="solteiro">Solteiro</label>
        </div>
        <div class="radioItem">
          <input type="radio" id="casado" name="estadoCivil" value="casado">
          <label for="casado">Casado</label>
        </div>
      </div>


      <label for="password">Senha:</label>
      <input type="password" id="password" name="password">
    </fieldset>

    <fieldset>
      <label for="cep">CEP:</label>
      <input type="text" id="cep" name="cep" pattern="\d{2}\.\d{3}-\d{3}" placeholder="Ex. 00.000-00" disabled>

      <label for="logradouro">Tipo de Logradouro: </label>
      <select name="tipo_lograd">
        <option value="">Selecione</option>
        <option value="rua">Rua</option>
        <option value="avenida">Avenida</option>
        <option value="praca">Praça</option>
      </select>

      <label for="logradouro">Logradouro: </label>
      <input type="text" id="logradouro" name="logradouro">

      <label for="bairro">Bairro:</label>
      <input type="text" id="bairro" name="bairro">

      <label for="cidade">Cidade:</label>
      <input type="text" id="cidade" name="cidade">

      <label for="estado">Estado:</label>
      <input type="text" id="estado" name="estado">

    </fieldset>

    <div class="send">
      <button type="submit">Cadastrar</button>
    </div>

  </div>
</body>

</html>