<!-- navbar.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de Navegação</title>
    <link rel="stylesheet" href="../css/table.css">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Nome Completo</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Gênero</th>
                <th>Endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>João da Silva</td>
                <td>123.456.789-00</td>
                <td>01/01/1980</td>
                <td>Masculino</td>
                <td>Rua das Flores, 123 - Cidade A, Estado X</td>
            </tr>
            <tr>
                <td>Maria Oliveira</td>
                <td>987.654.321-00</td>
                <td>15/06/1995</td>
                <td>Feminino</td>
                <td>Avenida Central, 456 - Cidade B, Estado Y</td>
            </tr>
            <tr>
                <td>Antônio Souza</td>
                <td>456.789.123-00</td>
                <td>28/03/1972</td>
                <td>Masculino</td>
                <td>Rua do Sol, 789 - Cidade C, Estado Z</td>
            </tr>
            <tr>
                <td>Carla Santos</td>
                <td>321.654.987-00</td>
                <td>10/09/1988</td>
                <td>Feminino</td>
                <td>Travessa das Estrelas, 234 - Cidade D, Estado W</td>
            </tr>
            <!-- Adicione mais 20 linhas -->
            <tr>
                <td>Lucas Mendes</td>
                <td>111.222.333-44</td>
                <td>03/05/1992</td>
                <td>Masculino</td>
                <td>Rua dos Pinheiros, 567 - Cidade E, Estado V</td>
            </tr>
            <tr>
                <td>Ana Paula Ferreira</td>
                <td>222.333.444-55</td>
                <td>20/11/1985</td>
                <td>Feminino</td>
                <td>Avenida dos Girassóis, 890 - Cidade F, Estado U</td>
            </tr>
            <tr>
                <td>Marcos Silva</td>
                <td>333.444.555-66</td>
                <td>08/07/1978</td>
                <td>Masculino</td>
                <td>Alameda das Águias, 123 - Cidade G, Estado T</td>
            </tr>
            <tr>
                <td>Renata Almeida</td>
                <td>444.555.666-77</td>
                <td>17/09/1990</td>
                <td>Feminino</td>
                <td>Rua das Margaridas, 456 - Cidade H, Estado S</td>
            </tr>
            <tr>
                <td>Fernando Oliveira</td>
                <td>555.666.777-88</td>
                <td>25/12/1982</td>
                <td>Masculino</td>
                <td>Avenida das Orquídeas, 789 - Cidade I, Estado R</td>
            </tr>
            <tr>
                <td>Beatriz Santos</td>
                <td>666.777.888-99</td>
                <td>30/04/1993</td>
                <td>Feminino</td>
                <td>Rua dos Jasmins, 234 - Cidade J, Estado Q</td>
            </tr>
            <tr>
                <td>Ricardo Lima</td>
                <td>777.888.999-00</td>
                <td>12/08/1986</td>
                <td>Masculino</td>
                <td>Travessa dos Cravos, 567 - Cidade K, Estado P</td>
            </tr>
            <tr>
                <td>Patrícia Martins</td>
                <td>888.999.000-11</td>
                <td>07/03/1976</td>
                <td>Feminino</td>
                <td>Alameda das Hortênsias, 890 - Cidade L, Estado O</td>
            </tr>
            <tr>
                <td>Gustavo Pereira</td>
                <td>999.000.111-22</td>
                <td>19/10/1984</td>
                <td>Masculino</td>
                <td>Avenida dos Lírios, 123 - Cidade M, Estado N</td>
            </tr>
            <tr>
                <td>Sônia Costa</td>
                <td>000.111.222-33</td>
                <td>23/06/1970</td>
                <td>Feminino</td>
                <td>Rua das Violetas, 456 - Cidade N, Estado M</td>
            </tr>
            <tr>
                <td>Carlos Santos</td>
                <td>111.222.333-44</td>
                <td>04/11/1987</td>
                <td>Masculino</td>
                <td>Travessa dos Crisântemos, 789 - Cidade O, Estado L</td>
            </tr>
            <tr>
                <td>Daniela Almeida</td>
                <td>222.333.444-55</td>
                <td>14/02/1991</td>
                <td>Feminino</td>
                <td>Avenida das Rosas, 234 - Cidade P, Estado K</td>
            </tr>
            <tr>
                <td>Rafael Silva</td>
                <td>333.444.555-66</td>
                <td>27/07/1983</td>
                <td>Masculino</td>
                <td>Rua das Azaleias, 567 - Cidade Q, Estado J</td>
            </tr>
            <tr>
                <td>Juliana Oliveira</td>
                <td>444.555.666-77</td>
                <td>31/10/1994</td>
                <td>Feminino</td>
                <td>Alameda dos Cravos, 890 - Cidade R, Estado I</td>
            </tr>
            <tr>
                <td>Marcos Fernandes</td>
                <td>555.666.777-88</td>
                <td>05/05/1979</td>
                <td>Masculino</td>
                <td>Avenida das Margaridas, 123 - Cidade S, Estado H</td>
            </tr>
            <tr>
                <td>Larissa Costa</td>
                <td>666.777.888-99</td>
                <td>18/12/1980</td>
                <td>Feminino</td>
                <td>Rua das Tulipas, 456 - Cidade T, Estado G</td>
            </tr>
            <tr>
                <td>Pedro Almeida</td>
                <td>777.888.999-00</td>
                <td>22/09/1996</td>
                <td>Masculino</td>
                <td>Travessa das Violetas, 789 - Cidade U, Estado F</td>
            </tr>
            <tr>
                <td>Camila Santos</td>
                <td>888.999.000-11</td>
                <td>07/07/1982</td>
                <td>Feminino</td>
                <td>Alameda dos Crisântemos, 890 - Cidade V, Estado E</td>
            </tr>
            <tr>
                <td>Leonardo Oliveira</td>
                <td>999.000.111-22</td>
                <td>14/03/1975</td>
                <td>Masculino</td>
                <td>Avenida das Orquídeas, 123 - Cidade W, Estado D</td>
            </tr>
            <tr>
                <td>Bianca Silva</td>
                <td>000.111.222-33</td>
                <td>29/08/1989</td>
                <td>Feminino</td>
                <td>Rua dos Girassóis, 456 - Cidade X, Estado C</td>
            </tr>
            <tr>
                <td>Roberto Martins</td>
                <td>111.222.333-44</td>
                <td>02/02/1974</td>
                <td>Masculino</td>
                <td>Travessa das Margaridas, 789 - Cidade Y, Estado B</td>
            </tr>
            <tr>
                <td>Isabela Costa</td>
                <td>222.333.444-55</td>
                <td>11/11/1990</td>
                <td>Feminino</td>
                <td>Alameda dos Lírios, 890 - Cidade Z, Estado A</td>
            </tr>
        </tbody>
    </table>
</body>

</html>