<!-- navbar.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <footer>
        <div class="container">
            <address class="footer-info">
                <div class="footer-item">
                    <h3><span class="material-symbols-outlined">
                        map
                        </span>Localização</h3>
                    <p>João Naves de Ávila, Uberlândia</p> <p>CEP: 12345-678</p>
                </div>

                <div class="footer-item">
                    <h3><span class="material-symbols-outlined">
                        call
                    </span>Telefone</h3>
                    <p> <a href="tel:(34)99999-9999">(34) 99999-9999</a></p>
                </div>

                
                
                <div class="footer-item">
                    <h3><span class="material-symbols-outlined">
                        mail
                    </span>Email</h3>
                    <p><a href="mailto:fulana@mail.com">fulana@mail.com</a>
                    </p>
                </div>
                
            </address>
                <p class="copyright">&copy; 2024 Clínica MedHealth</p>
            
        </div>
    </footer>
</body>
</html>