<!-- navbar.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de Navegação</title>
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="#">Agendamento</a></li>
            </ul>

            <ul>
                <li><a href="#">Cadastro</a></li>
                <li><a href="#" id="login-button">Login</a></li>
            </ul>
        </nav>
    </div>  
</body>
</html>