<!-- navbar.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de Navegação</title>
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
    <div>
        <nav>
            <ul id="left-content">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../models/galeria.html">Galeria</a></li>
            </ul>

            <ul id="right-content">
                <li><a href="#" id="login-button">Login</a></li>
            </ul>
        </nav>
    </div>  
</body>
</html>