<!-- navbar.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee table</title>
    <link rel="stylesheet" href="../css/table.css">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Sexo</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Tipo Sanguíneo</th>
            </tr>
        </thead>
        <tbody id="pacientesBody">
            <!-- Aqui serão listados os pacientes -->
        </tbody>
    </table>
    <script>
        window.onload = function () {
            // Obtém os dados dos pacientes em formato JSON
            fetch('../scripts/php/obtem-pacientes.php')
                .then(response => response.json())
                .then(data => {
                    // Obtém a referência da tabela e do corpo da tabela
                    const table = document.getElementById('pacientesBody');
                    // Itera sobre os dados dos pacientes
                    data.forEach(funcionario => {
                        // Cria uma nova linha na tabela
                        const row = table.insertRow();

                        // Insere os dados do funcionário na nova linha
                        row.insertCell().textContent = funcionario.Codigo;
                        row.insertCell().textContent = funcionario.Nome;
                        row.insertCell().textContent = funcionario.Email;
                        row.insertCell().textContent = funcionario.Telefone;
                        row.insertCell().textContent = funcionario.Sexo;
                        row.insertCell().textContent = funcionario.Peso;
                        row.insertCell().textContent = funcionario.Altura;
                        row.insertCell().textContent = funcionario.TipoSanguineo;
                    });
                })
                .catch(error => console.error('Erro ao obter dados dos pacientes:', error));
        }
    </script>
</body>

</html>