<!-- navbar.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de Navegação</title>
    <link rel="stylesheet" href="../css/table.css">
</head>

<body>
    <table>
        
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Especialidade Médica</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>João Silva</td>
            <td>2024-03-10</td>
            <td>Ortopedia</td>
        </tr>
        <tr>
            <td>Maria Oliveira</td>
            <td>2024-03-11</td>
            <td>Oftalmologia</td>
        </tr>
        <tr>
            <td>Carlos Santos</td>
            <td>2024-03-12</td>
            <td>Gastroenterologia</td>
        </tr>
        <tr>
            <td>Ana Pereira</td>
            <td>2024-03-13</td>
            <td>Cardiologia</td>
        </tr>
        <tr>
            <td>Paulo Oliveira</td>
            <td>2024-03-14</td>
            <td>Dermatologia</td>
        </tr>
        <tr>
            <td>Mariana Ferreira</td>
            <td>2024-03-15</td>
            <td>Pediatria</td>
        </tr>
        <tr>
            <td>Fernando Souza</td>
            <td>2024-03-16</td>
            <td>Neurologia</td>
        </tr>
        <tr>
            <td>Juliana Lima</td>
            <td>2024-03-17</td>
            <td>Otorrinolaringologia</td>
        </tr>
        <tr>
            <td>Ricardo Almeida</td>
            <td>2024-03-18</td>
            <td>Psiquiatria</td>
        </tr>
        <tr>
            <td>Silvia Santos</td>
            <td>2024-03-19</td>
            <td>Endocrinologia</td>
        </tr>
        <tr>
            <td>Roberto Costa</td>
            <td>2024-03-20</td>
            <td>Urologia</td>
        </tr>
        <tr>
            <td>Patrícia Oliveira</td>
            <td>2024-03-21</td>
            <td>Ginecologia</td>
        </tr>
        <tr>
            <td>Luiz Ferreira</td>
            <td>2024-03-22</td>
            <td>Oftalmologia</td>
        </tr>
        <tr>
            <td>Camila Lima</td>
            <td>2024-03-23</td>
            <td>Ortopedia</td>
        </tr>
        <tr>
            <td>André Souza</td>
            <td>2024-03-24</td>
            <td>Pneumologia</td>
        </tr>
        <tr>
            <td>Helena Santos</td>
            <td>2024-03-25</td>
            <td>Cardiologia</td>
        </tr>
        <tr>
            <td>Rafaela Costa</td>
            <td>2024-03-26</td>
            <td>Dermatologia</td>
        </tr>
        <tr>
            <td>Daniel Oliveira</td>
            <td>2024-03-27</td>
            <td>Otorrinolaringologia</td>
        </tr>
        <tr>
            <td>Larissa Almeida</td>
            <td>2024-03-28</td>
            <td>Neurologia</td>
        </tr>
        <tr>
            <td>Guilherme Lima</td>
            <td>2024-03-29</td>
            <td>Psiquiatria</td>
        </tr>
    </tbody>
</table>
    </table>
</body>

</html>