<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- tag de responsividade -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedual field</title>
  <link rel="stylesheet" href="../css/general-form-style.css">
  <link rel="stylesheet" href="../css/register-form-style.css">

</head>

<body>
  <div class="container">
    <label for="name">Nome Completo:</label>
    <input type="text" id="name" name="name">

    <label for="espAgend">Especialidade:</label>
    <input type="text" id="espAgend" name="espAgend" placeholder="Escreva qual especialidade da clínica">

    <label for="dataAgend">Data de Agedamento:</label>
    <input type="date" id="dataAgend" name="dataAgend">

    <label for="timeAgend">Horário de Agedamento:</label>
    <input type="time" id="timeAgend" name="timeAgend">


    <div class="send">
      <button type="submit">Agendar</button>
    </div>

  </div>
</body>

</html>